﻿/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/lato-v14-latin/lato-v14-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}
