﻿/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/montserrat-v12-latin/montserrat-v12-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
