html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
    display: block;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

a {
    text-decoration: none;
    transition: ease .3s;
}

a:hover{
    text-decoration: none;
    color: #ccc;
}

a:focus{
    outline: none;
}

p {
    margin:0 0 15px;
}

p:last-child {
    margin-bottom: 1px;
}

form{
    margin:0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 7px;
    text-indent: -1px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #757575;
    padding-top: 4px;
}

h1 {
    font-size: 21px;
    /*line-height: 30px;*/
}

h2 {
    font-size: 20px;
    line-height: 29px;
}

h3 {
    font-size: 19px;
    line-height: 29px;
}

h4 {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 4px;
}

h5 {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 4px;
}

h6 {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 3px;
}

input[type='text'], 
input[type='email'],
input[type='password'], 
select, 
textarea {
    border: 1px solid #dcdcdc;
    font-family: inherit;
    font-size: 14px;
    padding: 8px 13px;
    color: #878787;
}

input[type='text']:focus, 
input[type='email']:focus,
input[type='password']:focus, 
textarea:focus{
    outline: none;
}

ins{
    color: #222;
    background: #ECFFBC;
    text-decoration: none;
}

blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 14px 0px 15px 15px;
    padding: 0px 0px 0px 21px;
    border-left: 2px solid #E2E2E2;
    font-size: 14px;
    line-height: 25px;
}

small {
    display: inline-block !important;
    margin: 4px 0 0 0.5em;
    font-size: 14px;
    color: #919191;
}

blockquote small:before {
    content: '\2014 \00A0';
}

q:before, 
q:after,
blockquote:before, 
blockquote:after {
    content: "";
}

blockquote p {
    font-size: inherit;
}

blockquote p:last-child {
    margin-bottom: 0;
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6{
    padding-top:0px !important;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.4em 0;
    width: 100%;
    padding: 12px 15px;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    white-space: pre;
    overflow: auto;
    background: #f9f9f9;
    border-radius: 0px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    display: block;
    border: 0px;
}

pre code{
    color:#333;
}

pre code, tt {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 16px;
}

code, tt{
    padding: 1px 3px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    white-space: pre;
    border: 1px solid #E3E3E3;
    background: #F7FAFB;
    border-radius: 2px;
    color: #c7254e;;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 1.2em 0;
    padding: 0;
    color: #ccc;
}

table{
    width:100%;
    margin-top: 13px;
    margin-bottom: 22px;
}

iframe{
    max-width: 100%;
}

table{
    max-width: 100%;
}

table>thead>tr>th, 
table>tbody>tr>th, 
table>tfoot>tr>th, 
table>thead>tr>td, 
table>tbody>tr>td, 
table>tfoot>tr>td {
    border: 1px solid #e5e5e5;
}

table tr th,
table tr td{
    padding:7px 12px;
}

table tr th{
    font-weight:600;
    background-color: #fbfbfb;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #fbfbfb;
}
